# Regarding patients dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('data/patients_data.xlsx')

In [4]:
df.head()

,codigo_biobanco,sexo,talla,raza,fecha,vhc,ast2,alt2,colesterol_total2,colesterol_hdl2,...,edad_paciente_evento,perdi_segui,mot_perdida_seguimiento,muerte_paciente,fecha_muerte,causa_muerte,causa_muerte_cardiovascular,causa_muerte_cardiovascular_text,causa_muerte_no_cardiovascular,causa_muerte_no_cardiovascular_text
0,2096,0,1.88,1,2010-03-01,2,NaN,NaN,191.000,37.8000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
1,2221,1,1.62,1,2010-03-01,2,21.0,24.00,169.498,67.1814,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
2,2222,0,1.71,1,2010-03-01,2,21.0,22.00,163.706,41.3127,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
3,2223,1,1.45,1,2010-03-01,2,19.0,12.00,189.961,56.7567,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
4,2225,0,1.75,1,2010-03-01,2,40.0,37.00,152.895,62.1621,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
5,2226,1,1.55,1,2010-03-01,2,21.0,13.00,171.428,65.2509,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
6,2227,1,1.54,1,2010-03-01,2,23.0,14.00,177.992,77.6061,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
7,2338,0,1.63,1,2010-03-01,2,NaN,NaN,179.000,28.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
8,2404,0,1.69,1,2010-03-01,2,14.0,12.00,224.000,60.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2422,0,1.59,1,2010-03-01,2,30.0,19.00,161.000,78.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2429,1,1.56,1,2010-03-01,2,18.0,16.00,NaN,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2438,0,1.66,1,2010-03-01,2,14.0,14.00,144.000,34.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2453,0,1.78,1,2010-03-01,2,17.0,8.00,203.000,61.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2464,0,1.79,1,2010-03-01,2,22.0,24.00,173.000,38.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2481,0,1.66,1,2010-03-01,2,14.0,10.00,191.000,46.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2489,0,1.70,1,2010-03-01,2,19.0,19.00,79.000,39.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2601,0,1.70,1,2010-03-01,2,32.0,30.00,263.000,42.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2228,0,1.62,1,2010-03-02,2,17.0,14.00,156.756,74.9034,...,NaN,2,0.0,NaN,NaN,0.0,9999.0,NaN,9999.0,NaN
18,2229,0,1.82,1,2010-03-02,2,15.0,11.00,167.181,45.9459,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
19,2230,0,1.72,1,2010-03-02,2,18.0,16.00,200.772,28.9575,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
20,2231,1,1.52,1,2010-03-02,2,19.0,14.00,231.660,63.7065,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
21,2232,0,1.75,1,2010-03-02,2,23.0,18.00,133.590,31.2741,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
22,2233,1,1.53,1,2010-03-02,2,24.0,15.00,130.115,42.8571,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
23,2234,0,1.66,1,2010-03-02,2,NaN,19.00,176.833,44.4015,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
24,2279,0,1.75,1,2010-03-02,2,21.0,14.00,191.000,42.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2333,0,1.66,1,2010-03-02,2,34.0,35.00,153.000,29.3000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
26,2560,1,1.55,1,2010-03-02,2,11.0,19.00,NaN,NaN,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2083,1,1.62,1,2010-03-03,2,14.0,19.00,168.000,41.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
28,2146,1,1.72,1,2010-03-03,1,23.0,40.00,183.000,35.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2149,1,1.65,1,2010-03-03,2,19.0,23.00,263.000,47.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,3133,0,1.59,1,2010-06-22,2,14.0,NaN,173.000,37.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
723,3160,0,1.70,1,2010-06-22,2,18.0,NaN,178.000,43.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
724,3215,0,1.65,1,2010-06-22,2,22.0,23.00,169.000,58.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
725,2335,1,1.65,1,2010-06-23,2,30.0,NaN,250.900,49.8700,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
726,2575,0,1.72,1,2010-06-23,2,52.0,29.00,243.000,43.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
727,2844,1,1.52,1,2010-06-23,2,15.0,23.00,246.000,50.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728,3009,0,1.70,1,2010-06-23,1,NaN,NaN,130.000,44.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
729,3067,0,1.67,1,2010-06-23,2,14.0,28.00,152.000,57.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730,3011,0,1.83,1,2010-06-24,2,NaN,NaN,184.000,30.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731,3012,1,1.74,1,2010-06-24,2,NaN,NaN,199.000,49.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732,3016,0,1.69,1,2010-06-24,2,NaN,NaN,133.000,51.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
733,3072,1,1.76,1,2010-06-24,2,16.0,17.00,220.000,57.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
734,3221,0,1.59,1,2010-06-24,2,36.0,62.00,164.000,NaN,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
735,3223,0,1.49,1,2010-06-24,2,22.0,17.00,144.000,NaN,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
736,3141,0,1.66,1,2010-06-25,2,19.0,18.00,224.000,38.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
737,2591,0,1.70,1,2010-06-26,2,NaN,28.19,203.088,NaN,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
738,2309,1,1.54,1,2010-06-28,2,17.0,28.00,162.000,29.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,2395,1,1.57,1,2010-06-28,2,23.0,11.00,219.000,76.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740,2399,0,1.68,1,2010-06-28,2,24.0,20.00,193.000,40.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,3188,0,1.65,1,2010-06-28,2,23.0,21.00,166.000,33.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
742,3205,0,1.64,1,2010-06-28,2,26.0,31.00,156.000,43.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
743,3227,1,1.61,1,2010-06-28,2,15.0,21.00,172.000,45.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
744,2282,1,1.48,1,2010-06-29,1,37.0,34.00,176.000,41.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,2577,1,1.55,1,2010-06-29,2,15.0,12.00,182.000,68.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
746,2650,1,1.59,1,2010-06-29,2,24.0,30.00,210.000,66.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,3055,0,1.72,1,2010-06-29,2,13.4,14.60,165.000,50.7000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748,2578,1,1.52,1,2010-06-30,2,26.0,26.00,286.000,49.0000,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
749,2610,0,1.70,1,2010-06-30,2,19.0,14.00,213.000,40.0000,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750,2919,0,1.72,4,2010-06-30,2,18.0,26.00,197.000,NaN,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN
751,3110,0,1.75,1,2010-06-30,2,21.0,24.00,156.000,NaN,...,NaN,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN

In [5]:
Names_columns=df.columns

for i in Names_columns:
    print(i)

codigo_biobanco
sexo
talla
raza
fecha
vhc
ast2
alt2
colesterol_total2
colesterol_hdl2
colesterol_ldl2
trigliceridos2
glucosa2
indice_homa
hematocrito2
hemoglobina2
fe2
tranferrina2
ferritina2
ca_total2
fosforo2
producto_ca_fosforo
albumina2
ca_total_corregido
urea2
ac_urico2
PTHi2
PTHi_KDOQI
Apob2
Apoa12
insu2
sodi2
potasi2
microalbuminuria2
catotalcor2
albucrea2
microAlbu24h2
leucos
plaquetas
volumplac
t_comorbilidad_exploracion_numero_visita
t_comorbilidad_exploracion_tabaco
t_comorbilidad_exploracion_alcohol
t_comorbilidad_exploracion_diabetes
t_comorbilidad_exploracion_hipertenso
t_comorbilidad_exploracion_dislipemico
t_comorbilidad_exploracion_fibrilacion_auricular
t_comorbilidad_exploracion_insuf_cardiaca
t_comorbilidad_exploracion_paratiroidectomia
t_comorbilidad_exploracion_antec_CV_prematura
t_comorbilidad_exploracion_peso
t_comorbilidad_exploracion_imc
t_comorbilidad_exploracion_cintura
t_comorbilidad_exploracion_noDeterminaCintura
t_comorbilidad_exploracion_tas
t_comorbilidad_exploracion_tad
t_comorbilidad_exploracion_presion_pulso
t_comorbilidad_exploracion_fecha_nacimiento
t_comorbilidad_exploracion_edad
t_comorbilidad_exploracion_ayunas
t_comorbilidad_exploracion_paxgene
t_comorbilidad_exploracion_1_numero_visita
t_comorbilidad_exploracion_1_tabaco
t_comorbilidad_exploracion_1_alcohol
t_comorbilidad_exploracion_1_diabetes
t_comorbilidad_exploracion_1_hipertenso
t_comorbilidad_exploracion_1_dislipemico
t_comorbilidad_exploracion_1_fibrilacion_auricular
t_comorbilidad_exploracion_1_insuf_cardiaca
t_comorbilidad_exploracion_1_paratiroidectomia
t_comorbilidad_exploracion_1_antec_CV_prematura
t_comorbilidad_exploracion_1_peso
t_comorbilidad_exploracion_1_imc
t_comorbilidad_exploracion_1_cintura
t_comorbilidad_exploracion_1_noDeterminaCintura
t_comorbilidad_exploracion_1_tas
t_comorbilidad_exploracion_1_tad
t_comorbilidad_exploracion_1_presion_pulso
t_comorbilidad_exploracion_1_fecha_nacimiento
t_comorbilidad_exploracion_1_edad
t_comorbilidad_exploracion_1_ayunas
t_comorbilidad_exploracion_1_paxgene
t_imagen_itb_numero_visita
t_imagen_itb_fecha_visita
pash
pastd
pastd_fet
index_pastd
pasti
pasti_fet
index_pasti
paspd
paspd_fet
index_paspd
paspi
paspi_fet
index_paspi
ITB
causa_no_itb
observacions
t_ecografia_carotidea_numero_visita
t_ecografia_carotidea_fecha_visita
gim_med_cc_d
placas_cc_d
clasif_cc_d
grado_cc_d
sisto_cc_d
diasto_cc_d
ratio_cc_d
gim_med_bif_d
placas_med_bif_d
clasif_med_bif_d
grado_med_bif_d
sisto_med_bif_d
diasto_med_bif_d
ratio_med_bif_d
gim_med_car_d
placas_med_car_d
clasif_med_car_d
grado_med_car_d
sisto_med_car_d
diasto_med_car_d
ratio_med_car_d
placas_med_ext_d
clasif_med_ext_d
sisto_med_ext_d
diasto_med_ext_d
ratio_med_ext_d
gim_med_cc_i
placas_cc_i
clasif_cc_i
grado_cc_i
sisto_cc_i
diasto_cc_i
ratio_cc_i
gim_med_bif_i
placas_med_bif_i
clasif_med_bif_i
grado_med_bif_i
sisto_med_bif_i
diasto_med_bif_i
ratio_med_bif_i
gim_med_car_i
placas_med_car_i
clasif_med_car_i
grado_med_car_i
sisto_med_car_i
diasto_med_car_i
ratio_med_car_i
placas_med_ext_i
clasif_med_ext_i
sisto_med_ext_i
diasto_med_ext_i
ratio_med_ext_i
gim_medio
clasif_enf_atero
placas_fem_com_d
clasif_fem_com_d
placas_fem_sup_d
clasif_fem_sup_d
placas_fem_com_i
clasif_fem_com_i
placas_fem_sup_i
clasif_fem_sup_i
observaciones
clasif_enf_atero_femoral
estat
max_comun_d
max_bif_d
max_int_d
max_comun_i
max_bif_i
max_int_i
diam_car_d
diam_car_i
diam_car_mitja
area_cc_d
area_med_bif_d
area_med_car_d
area_med_ext_d
area_cc_i
area_med_bif_i
area_med_car_i
area_med_ext_i
area_fem_com_i
area_fem_sup_i
area_fem_com_d
area_fem_sup_d
area_total_carotida
area_total_femoral
lipidos_cc_d
fibrosis_cc_d
calcio_cc_d
lipidos_med_bif_d
fibrosis_med_bif_d
calcio_med_bif_d
lipidos_med_car_d
fibrosis_med_car_d
calcio_med_car_d
lipidos_med_ext_d
fibrosis_med_ext_d
calcio_med_ext_d
lipidos_cc_i
fibrosis_cc_i
calcio_cc_i
lipidos_med_bif_i
fibrosis_med_bif_i
calcio_med_bif_i
lipidos_med_car_i
fibrosis_med_car_i
calcio_med_car_i
lipidos_med_ext_i
fibrosis_med_ext_i
calcio_med_ext_i
lipidos_fem_com_i
fibrosis_fem_com_i
calcio_fem_com_i
lipidos_fem_sup_i
fibrosis_fem_sup_i
calcio_fem_sup_i
lipidos_fem_com_d
fibrosis_fem_com_d
calcio_fem_com_d
lipidos_fem_sup_d
fibrosis_fem_sup_d
calcio_fem_sup_d
lipidos_total_carotida
fibrosis_total_carotida
calcio_total_carotida
lipidos_total_femoral
fibrosis_total_femoral
calcio_total_femoral
t_eventos_numero_visita
evento_cv
tipo_evento_cv
fecha_evento
edad_paciente_evento
perdi_segui
mot_perdida_seguimiento
muerte_paciente
fecha_muerte
causa_muerte
causa_muerte_cardiovascular
causa_muerte_cardiovascular_text
causa_muerte_no_cardiovascular
causa_muerte_no_cardiovascular_text

In [12]:
Names_columns=df.columns

for i in Names_columns:
    if(i[:5]=='gim_m'):
        print(i)

gim_med_cc_d
gim_med_bif_d
gim_med_car_d
gim_med_cc_i
gim_med_bif_i
gim_med_car_i
gim_medio

CLASIFICACION_PLACAS	

    id	nombre    
    1	Tipo 1: Uniformemente hipoecoica, homogénea
    2	Tipo 2: Predominantemente hipoecoica (>50%), heter.
    3	Tipo 3: Predominantemente hiperecoica (>50%), heter.
    4	Tipo 4: Uniformemente hiperecoica, homogénea
    5	Tipo 5: Calcificada. Sombra acústica sufi. impide valuar
    99	NS/NC

### Patients with Placa

In [32]:
placa_ccd_counts=df.groupby('placas_cc_d').ones.sum()

print('Patients with ccd placa:'+str((1-placa_ccd_counts[1]/placa_ccd_counts.sum())*100)+'%')
placa_ccd_counts

Patients with ccd placa:6.64893617021%

placas_cc_d
1    702
2     49
3      1
Name: ones, dtype: int64

In [34]:
placa_cci_counts=df.groupby('placas_cc_i').ones.sum()

print('Patients with cci placa:'+str((1-placa_cci_counts[1]/placa_cci_counts.sum())*100)+'%')
placa_cci_counts

Patients with cci placa:9.3085106383%

placas_cc_i
1    682
2     65
3      4
5      1
Name: ones, dtype: int64

In [48]:
Df_placas_cci=df[df['placas_cc_i']!=1]
Df_placas_ccd=df[df['placas_cc_d']!=1]

In [50]:
Df_placas_cci.head()

,codigo_biobanco,sexo,talla,raza,fecha,vhc,ast2,alt2,colesterol_total2,colesterol_hdl2,...,perdi_segui,mot_perdida_seguimiento,muerte_paciente,fecha_muerte,causa_muerte,causa_muerte_cardiovascular,causa_muerte_cardiovascular_text,causa_muerte_no_cardiovascular,causa_muerte_no_cardiovascular_text,ones
7,2338,0,1.63,1,2010-03-01,2,NaN,NaN,179.000,28.0000,...,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN,1
8,2404,0,1.69,1,2010-03-01,2,14.0,12.0,224.000,60.0000,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
13,2464,0,1.79,1,2010-03-01,2,22.0,24.0,173.000,38.0000,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
19,2230,0,1.72,1,2010-03-02,2,18.0,16.0,200.772,28.9575,...,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN,1
22,2233,1,1.53,1,2010-03-02,2,24.0,15.0,130.115,42.8571,...,2,9999.0,NaN,NaN,0.0,9999.0,NaN,NaN,NaN,1

#### Number of patients dead by a cardiovascular incident

In [68]:
Df_placas_cci[Df_placas_cci['causa_muerte']==0].shape[0]
Df_placas_ccd[Df_placas_ccd['causa_muerte']==0].shape[0]

18

21 de 70 que tenien cci!!

18 de 50 que tenien ccd!!

### Dubtes:
 * vhc
 * comorbilidad
 * ITB
 * ...

### Dades necessaries per validació

Considerant només imatges caròtides.(no bulb).
Volem:
 * ID patient
 *  Mesura de IMT mean
 *  num placa
 * % de tipus de placa
 *  Diametre del lumen
 * Area placa(?)

In [15]:
col=[]
##ID patient
col.append('codigo_biobanco')

###Mesura IMT MEAN
col.append('gim_med_cc_d')

##numero de plaques
col.append('placas_cc_d')
## % tipus placa
col.append('lipidos_car_d')
col.append('fibrosis_car_d')
col.append('calcio_car_d')

##diametre lumen
col.append('diam_car_d')

##area placa
col.append('area_car_d')

In [16]:
col

['codigo_biobanco',
 'gim_med_cc_d',
 'placas_cc_d',
 'lipidos_car_d',
 'fibrosis_car_d',
 'calcio_car_d',
 'diam_car_d',
 'area_car_d']

In [ ]:
gim_med_car_d
placas_car_d ## num placas
clasif_car_d ## tipus (1,2,3,4,5) depenent percentatge composicio
grado_car_d ## grau estenosis placa. Simplement classificaio segons percentatge
sisto_car_d ## buit
diasto_car_d ## buit 
ratio_car_d ## buit

diam_car_d
area_car_d
lipidos_car_d
fibrosis_car_d
calcio_car_d

### Dubtes

* Diferència cc i car
* Com gestionem d i i a les imatges?
* Què és `max_com_d`, `max_int_d`... (màxima amplitud?)--> diametre
* Diferència `max_com_d` i `diam_car_d, diam_car_i,  diam_car_mitja`. Perquè només d'aquests 3?

In [24]:
col

['codigo_biobanco',
 'gim_med_cc_d',
 'placas_cc_d',
 'lipidos_car_d',
 'fibrosis_car_d',
 'calcio_car_d',
 'diam_car_d',
 'area_car_d']

### Columnes per validació:

In [4]:
['codigo_biobanco',
 'gim_med_cc_d',
 'placas_cc_d',
 'lipidos_cc_d',
 'fibrosis_cc_d',
 'calcio_cc_d',
 'diam_car_d',
 'area_car_d',
 'gim_med_cc_i',
 'placas_cc_i',
 'lipidos_cc_i',
 'fibrosis_cc_i',
 'calcio_cc_i',
 'diam_car_i',
 'area_car_i']

['codigo_biobanco',
 'gim_med_cc_d',
 'placas_cc_d',
 'lipidos_car_d',
 'fibrosis_car_d',
 'calcio_car_d',
 'diam_car_d',
 'area_car_d',
 'gim_med_cc_i',
 'placas_cc_i',
 'lipidos_car_i',
 'fibrosis_car_i',
 'calcio_car_i',
 'diam_car_i',
 'area_car_i']